/*******************
*****  RESET  *****
*******************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*******************
*****  GENERIC  ****
*******************/

.flex{
    display: flex;
}

.height60{
    height: 60px;
}

.width100{
    width: 100%;
}

.bgWhite{ background-color: white; }


body{
    background-color: black;
    color: white;
}

/*******************
*****  HEADER  *****
*******************/

header{
    height: 60px;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

header button{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
}

header button:hover{
    cursor: pointer;
}


/*******************
*****  MAIN  *****
*******************/

main{
    height: calc( 100vh - 120px ); 
}

.cardContainer{
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userCard{
    width: calc( 100% / 7 - 5px);
    height: 100px;
    margin-bottom: 10px;
}

.userCard img{
    width: 100%;
}

/*******************
*****  FOOTER  *****
*******************/

footer{
    background-color: rgba(255, 255, 255, 0.1);
}

footer .navbar{
    flex-direction: row;
    justify-content: space-between;
}

.navbarBtn{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.navbar button{
    height: 100%;
}